<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blanche.intro.dao.IntroDao">
	<insert id="pay_success" parameterType="intro">
		/* Mapper - pay_success */
		INSERT INTO SPONSER
  			(SPONSER_INDEX, SPONSER_ADD, SPONSER_ADDNUM, SPONSER_P_METHOD,
  			SPONSER_NAME, SPONSER_EMAIL, SPONSER_PHONE, SPONSER_MEMO,
  			 SPONSER_INVEST, US_INDEX, 
  			USACT_INDEX, SPONSER_P_CONFIRM)
			VALUES
  			(99, #{sponser_add}, #{sponser_addnum}, #{sponser_p_method},
  			#{sponser_name}, #{sponser_email}, #{phone}, #{sponser_memo},
  			 #{project_invest},
 			 32, 99, 'y')
	</insert>
	<select id="introList" parameterType="intro" resultType="intro">
     select intro_index,
     	 (select app_field from application where app_index = (select app_index from introduction where intro_index = 5)) as app_field,
  			intro_title,
  			intro_image,
    		(select app_fund from application where app_index in (select app_index from introduction where intro_index=intro.intro_index)) as app_fund,
    		(select sum(sponser_invest) from sponser where sponser_index in (select sponser_index from invest where intro_index=intro.intro_index)) as sponser_invest,
    		intro_details
      from introduction intro
    </select>
</mapper>
