<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blanche.intro.dao.IntroDao">
	
	<!-- userAccount 테이블 등록 -->
	<insert id="usact_success" parameterType="usactVO">
		/* Mapper - userAccount */
		INSERT INTO userAccount
			(usact_index, usact_bank, usact_number)
			VALUES
			(usact_index_seq.nextval, #{usact_bank}, #{usact_number})
	
	</insert>	
	<!-- sponser 테이블 등록 -->	
	<insert id="pay_success" parameterType="intro">
		/* Mapper - pay_success */
		INSERT INTO SPONSER
  			(SPONSER_INDEX, SPONSER_ADD, SPONSER_ADDNUM, SPONSER_P_METHOD, SPONSER_P_CONFIRM, 
  			SPONSER_NAME, SPONSER_EMAIL, SPONSER_PHONE, SPONSER_MEMO,
  			 SPONSER_INVEST, US_INDEX, USACT_INDEX)
			VALUES
  			(sponser_index_seq.nextval, #{sponser_add}, #{sponser_addnum}, #{sponser_p_method}, 'Y', 
  			#{sponser_name}, #{sponser_email}, #{sponser_phone}, #{sponser_memo},
  			 #{sponser_invest}, #{us_index}, usact_index_seq.currval)
	</insert>
	
	<!-- invest 테이블 등록 -->
	<insert id="invest_success" parameterType="investVO">
		/* Mapper - invest */
		INSERT INTO invest
			(inv_index, sponser_index, intro_index)
			VALUES
			(inv_index_seq.nextval, sponser_index_seq.currval, #{intro_index})
	</insert>
	
	
	<!-- 프로젝트 둘러보기 -->
	<select id="introList" parameterType="intro" resultType="intro">
     select intro_index,
     	 (select app_field from application where app_index = (select app_index from introduction where intro_index = 5)) as app_field,
  			intro_title,
  			intro_image,
    		(select app_fund from application where app_index in (select app_index from introduction where intro_index=intro.intro_index)) as app_fund,
    		(select sum(sponser_invest) from sponser where sponser_index in (select sponser_index from invest where intro_index=intro.intro_index)) as sponser_invest,
    		intro_details
      from introduction intro
    </select>
    
    <!-- 프로젝트 수 조회 -->
    <select id="introdutionList" parameterType="intro" resultType="intro">
		/* Introduction - introdutionList */
		SELECT intro.intro_index FROM introduction intro 
		INNER JOIN application app ON intro.app_index = app.app_index 
		WHERE app_field = #{app_field}
	</select>
    
    <!-- 후원자 수 조회 -->
	<select id="sponserList" parameterType="intro" resultType="intro">
		/* Introduction - sponserCount */
		SELECT count(*)
		FROM invest
		WHERE intro_index = #{intro_index}
	</select>
	
	<!-- 프로젝트 리스트 출력 내용 조회(후원자 포함) -->
	<select id="lookRoundContent" parameterType="intro" resultType="intro">
		/* Introduction - lookRoundContentList */
		SELECT * FROM 
			(SELECT intro.app_index, TO_CHAR(app_fund, '999,999,999,999,999') AS plist_fund, intro_image AS plist_image, intro_title AS plist_title, intro_abbreviation AS plist_abbreviation, intro_index,
				(intro_enddate - TO_DATE(sysdate)) AS plist_startCheck,
				TO_CHAR(intro_startDate, 'YYYY"년" MM"월" DD"일"') AS plist_startDate,
				TO_CHAR(intro_endDate, 'YYYY"년" MM"월" DD"일"') AS plist_endDate, 
				TO_DATE(sysdate) - intro_startDate AS plist_dDay
			FROM introduction intro INNER JOIN application app ON intro.app_index = app.app_index
			WHERE intro_index = #{intro_index}) prolist
		INNER JOIN 
			(SELECT TO_CHAR(sum(sponser_invest), '999,999,999,999,999') AS plist_collection, intro_index 
			FROM (SELECT * FROM invest inv INNER JOIN sponser spon ON inv.sponser_index = spon.sponser_index 
			WHERE intro_index IN (SELECT intro.intro_index FROM introduction intro 
			INNER JOIN application app ON intro.app_index = app.app_index 
			WHERE intro_index = #{intro_index}))
			GROUP BY intro_index) collection
		ON prolist.intro_index = collection.intro_index
	</select>
	
	<!-- 프로젝트 리스트 출력 내용 조회(후원자 제외) -->
	<select id="noOneContent" parameterType="intro" resultType="intro">
		/* Introduction - noOneContentList */
		SELECT intro.app_index, TO_CHAR(app_fund, '999,999,999,999,999') AS plist_fund, intro_image AS plist_image, intro_title AS plist_title, intro_subtitle AS plist_abbreviation, intro_index,
			(intro_enddate - TO_DATE(sysdate)) AS plist_startCheck,
			TO_CHAR(intro_startDate, 'YYYY"년" MM"월" DD"일"') AS plist_startDate,
			TO_CHAR(intro_endDate, 'YYYY"년" MM"월" DD"일"') AS plist_endDate, 
			TO_DATE(sysdate) - intro_startDate AS plist_dDay
		FROM introduction intro INNER JOIN application app ON intro.app_index = app.app_index
		WHERE intro_index = #{intro_index}
	</select>
	
	<!-- 필드별 프로젝트 전체수 조회 -->
	<select id="introAllCount" parameterType="intro" resultType="intro">
		/* Introduction - introdutionAllCount */
		SELECT intro.intro_index FROM introduction intro 
		INNER JOIN application app ON intro.app_index = app.app_index
	</select>
	
	<!-- 필드별 프로젝트 수 조회 -->
	<select id="introCount" parameterType="intro" resultType="intro">
		/* Introduction - introdutionCount */
		SELECT intro.intro_index FROM introduction intro 
		INNER JOIN application app ON intro.app_index = app.app_index 
		WHERE app_field = #{app_field}
	</select>
	
    <!-- feat.래혁 -->
    <select id="introMyPageList" parameterType="intro" resultType="intro">
		/*   sponser  */
		select sponser_index,sponser_name,sponser_phone,sponser_email,sponser_add from sponser where us_index=#{us_index}
	</select>
	
	<select id="accountMyPageList" parameterType="intro" resultType="intro">
		/*   sponser  */
		select sponser_p_method,sponser_invest,usact_bank,usact_number from sponser,useraccount where us_index=#{us_index}
	</select>
	
	<select id="projectname" parameterType="intro" resultType="String">
	/*   projectname  */
	
		select intro_title
			from introduction
			where intro_index = (select intro_index from introApproval where us_index = #{us_index})
	
	</select>
	<select id="projectIndex" parameterType="intro" resultType="String">
		select intro_index from introduction where intro_index = (select intro_index from introApproval where us_index = #{us_index})
	</select>
		
	<update id="updateAdd" parameterType="intro">
		Update	sponser
		SET		sponser_add = #{sponser_add}	
		WHERE	sponser_index = #{sponser_index}
	</update>
	
</mapper>
