<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blanche.intro.dao.IntroDao">
	
	<!-- userAccount 테이블 등록 -->
	<insert id="usact" parameterType="intro">
		/* Mapper - userAccount */
		INSERT INTO userAccount
			(usact_index, usact_bank, usact_number)
			VALUES
			(usact_index_seq.nextval, #{usact_bank}, #{usact_number})
	
	</insert>	
	<!-- sponser 테이블 등록 -->	
	<insert id="pay_success" parameterType="intro">
		/* Mapper - pay_success */
		INSERT INTO SPONSER
  			(SPONSER_INDEX, SPONSER_ADD, SPONSER_ADDNUM, SPONSER_P_METHOD,
  			SPONSER_NAME, SPONSER_EMAIL, SPONSER_PHONE, SPONSER_MEMO,
  			 SPONSER_INVEST, US_INDEX, USACT_INDEX)
			VALUES
  			(sponser_index_seq.nextval, #{sponser_add}, #{sponser_addnum}, #{sponser_p_method},
  			#{sponser_name}, #{sponser_email}, #{phone}, #{sponser_memo},
  			 #{sponser_invest},
 			 #{us_index}, usact_index_seq.currval)
	</insert>
	
	<!-- invest 테이블 등록 -->
	<insert id="invest" parameterType="intro">
		/* Mapper - invest */
		INSERT INTO invest
			(inv_index, sponser_index, intro_index)
			VALUES
			(inv_index_seq.nextval, sponser_index_seq.currval, #{intro_index})
	</insert>
	
	<!-- 프로젝트 둘러보기 -->
	<select id="introList" parameterType="intro" resultType="intro">
     select intro_index,
     	 (select app_field from application where app_index = (select app_index from introduction where intro_index = 5)) as app_field,
  			intro_title,
  			intro_image,
    		(select app_fund from application where app_index in (select app_index from introduction where intro_index=intro.intro_index)) as app_fund,
    		(select sum(sponser_invest) from sponser where sponser_index in (select sponser_index from invest where intro_index=intro.intro_index)) as sponser_invest,
    		intro_details
      from introduction intro
    </select>
    
    <!-- feat.래혁 -->
    <select id="introMyPageList" parameterType="intro" resultType="intro">
		/*   sponser  */
		select sponser_index,sponser_name,sponser_phone,sponser_email,sponser_add from sponser where us_index=#{us_index}
	</select>
	
	<select id="accountMyPageList" parameterType="intro" resultType="intro">
		/*   sponser  */
		select sponser_p_method,sponser_invest,usact_bank,usact_number from sponser,useraccount where us_index=#{us_index}
	</select>
	
	<select id="projectname" parameterType="intro" resultType="String">
	/*   projectname  */
	
		select intro_title
			from introduction
			where intro_index = (select intro_index from introApproval where us_index = #{us_index})
	
	</select>
	<select id="projectIndex" parameterType="intro" resultType="String">
		select intro_index from introduction where intro_index = (select intro_index from introApproval where us_index = #{us_index})
	</select>
		
	<update id="updateAdd" parameterType="intro">
		Update	sponser
		SET		sponser_add = #{sponser_add}	
		WHERE	sponser_index = #{sponser_index}
	</update>
	
</mapper>
